// colors
$orange: #e45028;
$yellow: #f9b43b;
$black: #2f3234;
$red: #e35028;

// setups
@import "_misc/mixins.scss";
@import "_misc/fonts.scss";
@import "_misc/layout.scss";

// blocks
@import "_misc/common.scss";
@import "blocks/hero.scss";
@import "blocks/best.scss";
@import "blocks/burgers.scss";
@import "blocks/team.scss";
@import "blocks/menu.scss";
@import "blocks/reviews.scss";
@import "blocks/order.scss";
@import "blocks/map.scss";