<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="css/main.css")
    title Burgers
body
    .wrapper
        .maincontent
            section.section.hero hero
            section.section.best best
            section.section.burgers burgers
            section.section.team team
            section.section.menu menu
            section.section.reviews reviews
            section.section.order orders
            section.section.map map